.top {
    height: 30%;
    width: 70%;
    background-color: #008080;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    border-radius: 20px;
}

.bottom {
    height: 70%;
    width: 65%;
    margin: 0 auto;
    margin-top: 40px;
}

.element {
    display: inline;
    border-radius: 10px;
}

.pic {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.main-categories{
    width: 90%;
    margin: 0 auto;
}

.center {
    text-align: center;
    display: inline-block;
}

.line{
    display: inline-block;
}

.title {
    color: white;
    background-color: crimson;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    vertical-align: top;
}

.phrase {
    font-family: arial;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
}

.back {
    background-color: white;
    color: black;
    border: 4px solid #4CAF50; /* Green */
    border-radius: 5px;
}

.refresh {
    background-color: white;
    color: black;
    border: 4px solid goldenrod; /* Green */
    border-radius: 5px;
}