body {
    font-family: 'Montserrat', sans-serif;
}

.top {
    height: 30%;
    width: 70%;
    background-color: #008080;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    border-radius: 20px;
}

.bottom {
    height: 70%;
    width: 65%;
    margin: 0 auto;
    margin-top: 40px;
}

.element {
    display: inline;
    border-radius: 10px;
}

.pic {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: width 0.5s, height 0.5s;
}

.round{
    border-radius: 10px;
}

.pic:hover {
    width: 235px;
    height: 235px;
    transition: width 0.5s, height 0.5s;
    cursor: pointer;
}

.main-categories{
    width: 90%;
    margin: 0 auto;
}

.center {
    text-align: center;
    display: inline-block;
}

.line{
    display: inline-block;
}

.title {
    color: white;
    background-color: crimson;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    vertical-align: top;
}

.phrase {
    font-family: arial;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
}

.back {
    background-color: green;
    color: white;
    border: 4px solid green; /* Green */
    border-radius: 5px;
}

.refresh {
    background-color:purple;
    color: white;
    border: 4px solid purple; /* Green */
    border-radius: 5px;
}

.clickable:hover {
    width: 200px;
    height: 40px;
    transition: width 0.5s, height 0.5s;
}

.pointer {
    cursor: pointer;
}